<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="Trello">
    <Appenders>
        <File name="test_log"
            fileName="logs/test-${date:yyyy-MM-ddHHmmssSSS}.log">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n" />
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="test_log"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>